@import '../../styles/variables.scss';

.presentation {
  background-color: $brand-color;
  margin: 0 auto 6em;
  padding: 1em 2em;

  h1 {
    font-weight: normal;
  }

  .name {
    font-weight: 800;
  }

  p {
    color: white;
  }

  body.dark & {
    background-color: $brand-color-dark;

    h1,
    p {
      color: #202020;
    }

    .name {
      color: $brand-color;
    }
  }
}

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
