@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  background: $theme-solid;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-family: 'Catamaran';
    color: $top-header-text-color;
    display: inline-block;
    font-size: 28px;
    font-weight: 800;

    .rocket {
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }
  }

  .links {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;

    > .link {
      margin: 0 0.5rem;
      padding: 0.5rem;
      border-bottom: 2px solid transparent;
      color: rgba(0, 0, 0, 0.6);

      &:hover {
        border-radius: 5px;
        color: #111;
        background: #edf2f7;
      }
    }
  }
  .switch-container {
    margin-left: 1em;
  }
  body.dark & {
    .links > .link {
      color: #aeaeae;

      &:hover {
        color: #eaeaea;
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
    .logo {
      color: #fdd321;
    }
  }
}
